# Dependências
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
*.tsbuildinfo

# Testes
coverage/
*.log

# Ambiente
.env
.env.local
.env.production
.env.test

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/migration_lock.toml
